/* 
  ============================
  GLOBAL CSS STYLING
  ============================
*/

body {
    background-image: linear-gradient(#252525, #0e0e0e);
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: white;
}

h3 {
    font-size: 3vw;
}

h6 {
    font-size: 1.2vw;
}

p {
    font-size: 0.9vw;
    font-weight: 500;
    letter-spacing: 0.08vw;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

.character-container:hover, .plus:hover, .minus:hover, .marker-container:hover, .chapter-select:hover {
    cursor: pointer;
}

button:focus, input:focus, .dropdown-toggle:focus {
    outline: none;
}

.custom-margin {
    margin: 0 4vw!important;
}

.gradient-button {
    border: 0;
    border-radius: 20px;
    width: 100%;
    padding: 0.6vw 0;
    background-image: linear-gradient(to right, rgb(148, 38, 58), rgb(210, 77, 95));
    font-size: 0.9vw;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.08vw;
}

/* 
  ============================
  LOGIN & REGISTRATION STYLING
  ============================
*/

.container-fluid {
    height: 100vh;
    display: flex;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.login-container, .register-container {
    margin: 0 6%;
}

.loginlogo {
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.loginlogo img {
    width: 100%;
    margin-left: 5vw;
}

form {
    margin: 0 auto;
    max-width: 350px;
    padding-top: 1%;
}

.form-control-plaintext {
    border-radius: 5px;
    padding: 8px 0;
    background-color: #2d2d2d;
    font-weight: 500;
    color: #6a6a6a;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style glyph */
.inner-addon .fas {
    position: absolute;
    padding: 0 20px;
    color: #6a6a6a;
}
  
/* align glyph */
.left-addon .fas  { 
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
}
  
/* add padding  */
.left-addon input  { 
    padding-left: 55px; 
}

.accounttext {
    padding-top: 5%;
    text-align: center;
    letter-spacing: 0.2px;
}
  
.submit, .submiterror {
    margin-top: 1%;
    padding: 8px 0;
    font-size: 13px;
    text-transform: uppercase;
}

.error-message {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 11px 0 12px;
    border-radius: 4px;
    padding: 7px;
    background-color: #c54e5e;
    text-align: center;
}
  
.error-message i {
    margin-right: 10px;
    font-size: 11px;
}

.error-message p {
    font-size: 13px;
    letter-spacing: 0.5px;
}

.link-hover:hover {
    color: #bfbfbf;
}

/*  
  ============================
  CHARACTER SELECT STYLING
  ============================
*/

/* Grouping Font Size and Values */
/*
h5 {
    font-size: 2vw;
}
 */

.select-screen {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 70vw;
    padding: 5vw;
}

.character-portrait {
    height: 35vw;
}

.character-portrait img {
    width: 100%;
}

.character-display {
    padding: 0 0 0 6vw;
}

.character-info {
    margin-top: 0.5vw;
    text-align: center;
    text-transform: uppercase;
}

.character-info h5 {
    font-weight: 600;
}

.character-info h5 {
    font-size: 2vw;
    color: #d7d7d7;
}

.character-stats {
    padding: 2.3vw 0 0.7vw;
}

.stat-remainder {
    display: flex;
    padding-bottom: 1.5vw;
}

.stat-points {
    margin-left: auto;
}

.character-list {
    position: absolute;
    display: flex;
    bottom: 6vw;
}

.character-container {
    margin: 0 0.3vw;
    border: 0.15vw solid #d7d7d7;
    border-radius: 5px;
    width: 7.5vw;
    padding: 1vw;
    background-image: linear-gradient(rgba(18, 18, 18, 0.87), rgba(37, 37, 37, 0.87));
    text-align: center;
}

.character-container img {
    height: 5.5vw;
}

.stop-left {
    stop-color: #94263a;
}

.stop-right {
    stop-color: #d24d5f;
}

.filled {
    fill: url(#mainGradient);
}

/*  
  ============================
  CHARACTER SELECT MODAL STYLING
  ============================
*/

.modal-dialog, .modal-dialog-centered {
    max-width: 100%;
}

.modal-content {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-modal {
    margin: auto;
    border: 0.2vw solid #acacac;
    border-radius: 0;
    max-width: 50vw;
    padding: 3vw 1vw;
    background-color: rgba(21, 21, 21, 0.8);
}

#modaltext {
    margin-bottom: 1.7vw;
}

.button-group {
    display: flex;
    width: 60%;
}

.button-group button {
    margin: 0 0.5vw;
}

/*
  ============================
  DROPDOWN STYLING WORLD
  ============================
*/

.user-toggle {
    position: absolute;
    top: 2.5vw;
    right: calc(4vw + 15px);
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

.dropdown-toggle:hover {
    text-decoration: none;
}

.dropdown-toggle::after {
    content: "\f0d7";
    margin-left: 0.7vw;
    border: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #e8c892;
}

.dropdown-menu {
    border: 0;
    max-width: auto;
    min-width: auto;
    padding: 0.8vw 0;
    background-color: #292929;
}

.dropdown-item {
    display: flex;
    font-size: 1vw;
    font-weight: 500;
    color: #bcbcbc;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
    background-color: #222222;
    color: #bcbcbc;
} 

.userimage {
    margin-right: 10px;
    border: 1px solid #c1b69d;
    border-radius: 50%;
    width: 3.5vw;
    background-color: #c1b69d;
}

.username {
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #e8c892;
}

.pull-left {
    margin-right: 0.5vw;
}

/*  
  ============================
  STORY SELECT STYLING
  ============================
*/

.logo {
    position: absolute;
    top: 5%;
    left: calc(4vw + 15px);
    width: 23%;
}

.map-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 45.78vw;
}

.menu-screen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.map-bg {
    background: url("../images/resource-images/background/map3.png");
    background-repeat: no-repeat;
    background-position: -50px 0;
    background-size: contain;
}

.marker-container {
    position: absolute;
    color: #e8c892;
    text-transform: uppercase;
}

.marker {
    border: 0.2vw solid #acacac;
    padding: 11% 10px;
    background-color: #252525;
}

.marker p {
    letter-spacing: 0.06vw;
}

.item-shop {
    top: 18vw;
    left: 45%;
}

.armory {
    top: 18vw;
    left: 23%;
}

.castle {
    top: 13vw;
    left: 35%;
}

.triangles {
    position: relative;
    display: flex;
    justify-content: center;
}

.inner-triangle, .outer-triangle {
    width: 0;
    height: 0;
}

.inner-triangle {
    position: absolute;
    top: -0.4vw;
    margin: auto;
    border-top: 1vw solid #252525;
    border-right: 1.1vw solid transparent;
    border-left: 1.1vw solid transparent;
}

.outer-triangle {
    border-top: 0.9vw solid #acacac;
    border-right: 1vw solid transparent;
    border-left: 1vw solid transparent;
}

.circle {
    margin: 0.5vw auto 0;
    border-radius: 50%;
    height: 1vw;
    width: 1vw;
    background-color: white;
}

.chapter-info {
    margin: 30px 15px 3vw auto;
    border: 0.2vw solid #acacac;
    width: 36%;
    padding: 2.5% 4%;
    background-color: #252525;
    color: #d7d7d7;
}

.chapter-info h6 {
    margin-bottom: 0.5vw;
    text-align: center;
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
}

.chapter-info p {
    margin-top: 3%;
    margin-bottom: 5%;
    height: 8vw;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05vw;
    overflow: auto;
}

.story {
    display: none;
    padding: 1.5% 0;
}

.chapter-number {
    color: #e8c892;
    text-transform: uppercase;
}

.chapter-info .chapter-description {
    margin-bottom: 0.8vw;
}

.castle-container {
    margin: 0vw 0 1.3vw;
}

.castle-container img {
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    height: 8vw;
}

.user-class, .stat-type {
    text-transform: uppercase;
}

.user-class {
    font-weight: 600;
}

.change-class-container {
    align-items: center;
    margin-top: 0.9vw;
}

.chapter-select {
    position: relative;
    border: 0.2vw solid #acacac;
}

.chapter-select .fa-lock {
    font-size: 2vw;
    color: #d7d7d7;
}

.image-fit {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.flag-container {
    position: absolute;
    top: 0.6vw;
    left: -0.2vw;
    display: flex;
}

.flag {
    padding: 0.5vw 0.5vw 0.5vw 1vw;
}

.flag p {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.flag-wing {
    position: absolute;
    right: -1vw;
    width: 1.5vw;
}

.wing-top {
    border-top: 1.75vw solid transparent;
    border-right: 1vw solid transparent;
}

.wing-bottom {
    border-right: 1vw solid transparent;
    border-bottom: 1.75vw solid transparent;
    bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(000, 000, 000, 0.6);
}

/*  
  ============================
  CHARACTER ENCOUNTER STYLING
  ============================
*/

.encounter-screen {
    display: flex;
    align-items: center;
}

.page-wrapper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    overflow: hidden;
}

.page-wrapper {
    width: 100%;
    height: 45.78vw; /*  Setting our width and height this way forces a 16:7.5 ratio for our page  */
    display: grid;
    align-content: end;
    background: no-repeat top #14150f;
    background-size: contain;
}

.player-stats {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.enemy-stats {
    display: flex;
    flex-flow: row-reverse;
    position: absolute;
    right: 0;
    top: 0;
}

.player-avatar img, .enemy-avatar img {
    width: 8vw;
}

.player-avatar, .enemy-avatar {
    padding: 1.5vw;
    position: relative;
    z-index: 1000;
}

.player-avatar {
    padding-right: 1vw;
    padding-left: 3vw;
}

.stats-container {
    font-family: 'Work Sans', 'Lato', sans-serif;
    background-color: #0009;
    align-self: center;
    position: relative;
    z-index: 999;
    width: 22vw;
}

.player-stats .stats-container {
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
    padding: 1vw 3vw 1.2vw 3.2vw;
    left: -3vw;
}

.enemy-stats .stats-container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    padding: 1vw 3.2vw 1.2vw 3vw;
    right: -3vw
}

.character-text {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    padding-bottom: 0.65vw;
}

.character-name, .enemy-name {
    align-self: center;
}

.hit-points {
    align-self: center;
}

.enemy-stats .hit-points {
    float: right;
}

.player-health-bar-fill {
    width: 100%;
    height: .8vw;
    background-image: linear-gradient(90deg, #94263a, #d24e5f);
    border-radius: 0.4vw;
    position: absolute;
    z-index: 1002;
}

.player-health-bar {
    width: 100%;
    height: .8vw;
    background-image: linear-gradient(90deg, #222, #333333);
    border-radius: 0.4vw;
    position: relative;
    bottom: 0px;
    z-index: 1001;
}

.player-health-bar {
    float: left;
}

.enemy-stats .health-bar {
    float: right;
}

.enemy-avatar {
    padding-left: 1vw;
    padding-right: 3vw;
}

.enemy-name {
    justify-self: end;
}

.enemy-health-bar-fill {
    width: 50%;
    height: .8vw;
    background-image: linear-gradient(-90deg, #94263a, #d24e5f);
    border-radius: .4vw;
    position: absolute;
    right: 0;
    z-index: 1002;
}

.enemy-health-bar {
    width: 100%;
    height: .8vw;
    background-image: linear-gradient(-90deg, #222, #333333);
    border-radius: .4vw;
    position: relative;
    bottom: 0;
    z-index: 1001;
}

.attack-prompts {
    width: 100%;
}

.character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.player-sprite, .enemy-sprite {
    position: relative;
    z-index: 10;
}

.player-sprite {
    height: 15vw;
}

svg.enemy-sprite:hover {
    cursor: pointer;
}

.player-damage, .enemy-damage {
    position: absolute;
    top: 0;
    color: #fff;
    z-index: 100;
    font-size: 5vw;
    font-weight: 600;
    /* -webkit-text-stroke: 3px #fd4961; */
    letter-spacing: -0.1vw;
    /* display: none; */
}

.player-damage {
    right: 0;
}

.enemy-damage {
    left: 0;
}

.player-action-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: absolute;
    right: 0;
    bottom: 5vw;
    width: 22vw;
    height: 19vw;
    /* Hide action items until we write code for them */
    display: none;
}

.attack {
    grid-column: 6 / 8;
    grid-row: 1 / 3;
    position: relative;
}

.attack::after, .items::after, .flee::after {
    position: absolute;
    background-color: #0006;
    top: -1vw;
    font-size: 1vw;
    font-weight: 500;
    opacity: 0;
    transition: all 75ms ease;
    z-index: 10;
    padding: 0.6vw;
    border-radius: 0.3vw;
    color: #eee;
    transform: translateY(-100%);
    font-family: 'Work Sans', sans-serif;
}

.attack::after {
    content: 'Attack';
    left: 50%;
    margin-left: -2.2vw;
}

.attack:hover::after, .items:hover::after, .flee:hover::after {
    opacity: 1;
}

.items {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    align-self: center;
    padding-left: 0.5vw;
    position: relative;
}

.items::after {
    content: 'Items';
    left: 39%;
    margin-left: -2.2vw;
}

.flee {
    grid-column: 1 / 4;
    grid-row: 4 / 7;
    align-self: end;
    justify-self: center;
    position: relative;
}

.flee::after {
    content: 'Flee';
    background-color: #0006;
    left: 39%;
    margin-left: -0.85vw;
}

.player-action-grid img {
    height: 6.3vw;
    transition: all 75ms ease-in-out;
}

.player-action-grid img:hover {
    filter: drop-shadow(0 0 .66vw #fecc) drop-shadow(0 0 0.33vw #fecc);
}

.player-character {
    grid-column: 1;
    justify-self: flex-end;
    align-self: flex-end;
    position: relative;
}

.shadow {
    position: absolute;
    bottom: -1.75vw;
    z-index: 1;
    width: 100%;
}

.attack-area-popups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1.2vw;
    position: absolute;
    left: 11vw;
    bottom: 0.5vw;
    z-index: 998;
    font-weight: 600;
    font-size: 1vw;
    width: 14vw;
    font-family: 'Work Sans', Lato, sans-serif;
}

.attack-area-popups a {
    color: #eee;
    text-decoration: none;
    position: relative;
}

.attack-head, .attack-body, .attack-legs {
    background-color: #0006;
    padding: 1vw;
    border: 0;
    border-radius: 0.3vw;
    opacity: 0;
    transition: all 200ms ease-in-out;
    position: relative;
    top: 0;
    left: -1vw;
}

.attack-head {
    grid-column: 1 / 4;
}

.attack-head h4, .attack-body h4, .attack-legs h4 {
    color: #e8c891;
    text-transform: uppercase;
    margin-bottom: 0.2vw;
}

.attack-head p:nth-child(2), .attack-body p:nth-child(2), .attack-legs p:nth-child(2) {
    margin-bottom: 0.3vw;
}

.attack-body {
    grid-column: 2 / 5;
}

.attack-legs {
    grid-column: 2 / 5;
}

.enemy-character {
    grid-column: 3;
    justify-self: flex-start;
    align-self: flex-end;
    position: relative;
}

.enemy-character img {
    transform: scaleX(-1);
}

.user-prompts {
  display: grid;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  height: 8vw;
}

.prompt-box {
  color: #e8c891;
  padding: 0.7vw 1vw;
  background-color: #0006;
  font-weight: 600;
  font-size: 1vw;
  /* transition: all 350ms ease-in-out; */
  /* opacity: 0; */
}

.result-modal {
    font-size: 5vw;
    font-weight: 600;
    font-family: "Cambria", sans-serif;
    letter-spacing: 0.5vw;
}

/*  
  ============================
  WINNER MODAL
  ============================
*/
.chapterclear {
    text-shadow: 0px 0px 20px #ebdc78;
    color: #fbfbd3;
}

/*  
  ============================
  LOSER MODAL
  ============================
*/
.gameover {
    text-shadow: 0px 0px 20px #ff0101;
    color: #e93333;
}

/*
  ============================
  NEW 404 STYLING
  ============================
*/

#error {
    max-width: 400px;
}

.wrong {
    margin: 2vw 0;
    font-weight: 600;
    text-align: center;
    color: #d7d7d7;
}

.errorimage img {
    width: 100%;
}

.backtohome {
    margin-bottom: 2vw;
}

/*
  ============================
  DROPDOWN STYLING ENCOUNTER
  ============================
*/

.relative-container {
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0;
}

.encounter-toggle {
    margin: 0 3vw 3vw 0;
}

.encounter-toggle i, .encounter-toggle:after {
    color: #7f7f7f;
}